.Navbar {
  /* border: 3px solid red; */
  padding: 30px 0;
}

.Navbar-wrap {
  /* border: 3px solid orange; */
  max-width: 1440px;
  padding: 0 4%;
  margin: 0 auto;
}

.login-button {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.logo-section {
  display: flex;
  justify-content: center;
}

.menu-area {
  /* border: 3px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-list {
  display: flex;
  list-style: none;
  /* border: 2px solid green; */
}

.menu-list li {
  padding: 10px;
  cursor: pointer;
}
.menu-list li:hover {
  background: rgba(0, 0, 0, 0.1);
}

.search-box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 5px;
  width: 150px;
  height: 100%;
  border-radius: 25px;
  background-color: #f0f0f0;
  padding: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  right: 0;
}

.search-input {
  flex: 1;
  border: none;
  background: none;
  outline: none;
  padding: 8px 4px;
  font-size: 16px;
  color: #333;
  border-radius: 25px 0 0 25px;
}

@media(max-width: 1023px){
  .Navbar-wrap {
    max-width: 88%;
    padding: 0;
  }

  .menu-area {
    min-height: 100px;
    align-items: flex-start;
  }

  .menu-list {
    width: 100%;
    justify-content: space-between;
  }

  .search-box {
    width: 100%;
    height: 30px;
    padding: 5px;
    right: 50%;
    transform: translateX(50%);
  }
}

@media(max-width: 767px){

  .menu-area {
    min-height: 90px;
  }
  .menu-list {
    flex-wrap: wrap;
  }

  .menu-list li {
    padding: 10px 5px;
  }
}